body {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background: url(/concert.jpeg);
  color: white;
}

a {
  color: #C0C0C0;
  text-decoration: none;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18pt;
}

a:hover {
  color: #C0C0C0;
  text-decoration: none;
  font-weight: bold;
}

p {
  font-size: 18pt;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title {
  font-size: 50pt;
  margin-top: 70px;
}

.info {
  margin-top: 40px;
  margin-bottom: 30px;
}

.band-title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 40pt;
}

.venue-title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 40pt;
}

.band-form {
  float: left;
}

input {
  color: black;
  width: 200px;
  height: 33px;
  font-size: 14pt;
}
