band.vtl

<h1>$band.getName()</h1>

<div class="row">
  <div class="col-md-6">
    <form action="/bands/$band.getId()/update" method="post">
      <input id="update" name="update" type="text">

      <button type="submit" class="btn btn-success" id="update-submit">Update Band Name</button>
    </form>
  </div>

  <div class="col-md-6">
  </div>
</div>

<a href="/" class="btn btn-warning">Back To Home</a>
