<h1 class="title">Band Tracker</h1>

<h2 class="info">Keep track of your favorite bands what venues they have played at</h2>

<a href="/bands/new" class="btn btn-info">Add New Band</a>

<a href="/bands" class="btn btn-success">View All Bands</a>

<a href="/venues" class="btn btn-primary">View All Venues</a>
